.btn {
  &,
  &:link,
  &:visited {
    display: inline-block;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-decoration: none;

    /* font-size: 1.2rem;
      letter-spacing: 3px; */
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    transition: all 0.2s; /*all properties enabled to animate on initial state*/
    position: relative;
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3px); /*negative number sends object up*/
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2); /* across, down, blur */

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; /* creates flash effect as color fades out */
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1 rem rgba($color-black, 0.2);
  }

  &--white {
    background-color: $color-white;
    color: $color-text;

    &::after {
      background-color: $color-white;
    }
  }

  /*creates a "copy" of the element for effect */
  &::after {
    content: ""; /* mimics content established above */
    display: inline-block; /* same properties as real button */
    height: 100%;
    width: 100%; /* of parent (real button) */
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* hides behind parent element until hover */
    transition: all 1s;
  }

  &--animated {
    animation: moveInBottom 3s ease-out 1;
    animation-fill-mode: backwards;
    /* animation-fill-mode: backwards; */ /*doesn't seem to matter?*/
  }
}
